.container{
    display: flex;
    flex-direction: column;
}
.box1{
    display: flex;

}
.folders{
    overflow-y: scroll;
    height: 200px;
    flex: 3 0 10%;
    
}
.folders ul{
    background-color: #ddd;
    list-style: none;
    padding: 8px 0px;
    margin: 0;
}
.folders ul li{
    cursor: pointer;
/* text-align: center; */
margin: 7px 0px;
}
.folders ul li i{
    margin-right: 3px;
}
a{
    padding: 0 12px;
    text-decoration: none;
    color: black;
}

.choose{
    background-color: #337ab7;
    /* color: white; */
}
.choose a{
    color: white;
}