.container {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.box1 ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.box1 ul li {
    margin: 1px;
    list-style: none;
    padding: 8px 8px 18px 8px;
    cursor: pointer;
    color: #337ab7;
    border-radius: 8px 8px 0px 0px;
}
.box1 ul li a{
    text-decoration: none;
    color: black;
}
.box1 ul li:hover{
    background-color: #d3d3d3;
}
.box2 ul {
    display: flex;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}
.box2 ul li{
    list-style: none;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}
.box2 ul li:nth-child(2){
    padding: 10px 10px;
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
}
.box2 ul li:last-child{
    padding: 10px 10px;
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
}
.cross{
    margin: 0.7px;
    border-bottom: 2px solid #ddd;
}
.choose{
    background-color: #f7f7f7;
    border: 1px solid #d3d3d3;
border-bottom: transparent;
}