<header>
    <div class="container">
        <div class="box1">
            <ul>
                <li routerLinkActive="choose" ><a routerLink="/messages">Messages</a></li>
                <li routerLinkActive="choose" ><a routerLink="/contacts">Contacts</a></li>
                <li routerLinkActive="choose" ><a routerLink="/preferences">Preferences</a></li>
            </ul>
        </div>
        <div class="box2">
            <ul>
                <li>myself@angular.dev <i class="fa-solid fa-chevron-down"></i></li>
                <li><i class="fa-solid fa-house-chimney"></i></li>
                <li><i class="fa-solid fa-envelope"></i> New Messages</li>
            </ul>
        </div>
    </div>
    <div class="cross"></div>
    <!-- <router-outlet></router-outlet> -->
</header>
